dist/
build/
node_modules/
.pnp/
.pnp.js
.yarn/install-state.gz
.next/
out/

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.temp
.tmp

pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

coverage/
.nyc_output/

.DS_Store
*.pem

.env*.local
.env

.vercel/

.turbo/

*.tsbuildinfo
next-env.d.ts

src/articles/posts/test*

drizzle/

backup/